<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name,heroine_path(heroine)%>
    </li>
    <br>
  <% end %>
  <h2><%=link_to 'New Heroine', new_heroine_path%></h2>
<br>
  <h2><%=link_to 'Powers', powers_path%></h2>
</ul>
